aiocache~=0.11.1
aiohttp~=3.8.0
aiohttp-socks==0.6.0
aiomcache==0.6.0
aiopg==1.3.3
aiosignal==1.2.0
aiosqlite==0.17.0
aiovk~=4.0.0
amqp==5.0.6
async-cache==1.1.1
async-Eel==1.0b4
async-timeout==4.0.1
asyncmock==0.4.2
asyncpg==0.24.0
attrs==21.2.0
billiard==3.6.4.0
cachetools~=4.2.4
celery~=5.1.2
certifi==2021.10.8
charset-normalizer==2.0.7
click==7.1.2
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.2.0
colorama~=0.4.4
dacite~=1.6.0
decorator==5.1.0
ed25519==1.5
et-xmlfile==1.1.0
expiringdict==1.2.1
flake8==4.0.1
frozenlist==1.2.0
future==0.18.2
greenlet==1.1.2
idna==3.3
imaplib2==3.6
iso8601==0.1.16
isort==5.10.1
json5==0.9.6
keyboard~=0.13.5
kombu==5.2.0
mccabe==0.6.1
mock~=4.0.3
more-termcolor==1.1.3
MouseInfo==0.1.3
msgpack==1.0.2
multidict==5.2.0
numpy==1.21.4
openpyxl~=3.0.9
pandas~=1.3.4
peewee~=3.14.8
peewee-async==0.7.2
polog~=0.0.13
progressbar==2.5
prompt-toolkit==3.0.22
psutil~=5.8.0
psycopg==3.0.3
psycopg-binary~=3.0.3
psycopg-pool~=3.0.1
psycopg2-binary~=2.9.1
PyAutoGUI~=0.9.53
pycodestyle~=2.8.0
pyflakes==2.4.0
PyGetWindow==0.0.9
PyMsgBox==1.0.9
PyMySQL==1.0.2
pyperclip==1.8.2
pypika-tortoise==0.1.1
PyRect==0.1.4
PyScreeze==0.1.28
pyTelegramBotAPI==4.1.1
python-dateutil==2.8.2
python-socks==1.2.4
pytweening==1.0.4
pytz==2021.3
random-strings==0.1.1
redis==3.5.3
requests~=2.26.0
self==2020.12.3
six==1.16.0
SQLAlchemy==1.4.26
Token==1.8.6
tortoise-orm==0.17.8
tqdm~=4.62.3
typing-extensions==3.10.0.2
ujson==4.2.0
urllib3==1.26.7
vine==5.0.0
vk-api==11.9.6
wcwidth==0.2.5
whichcraft==0.6.1
yarl==1.7.2

portalocker~=2.3.2