aiohttp==3.7.4.post0
aiohttp-socks==0.6.0
aiovk==4.0.0
async-timeout==3.0.1
atomicwrites==1.3.0
attrs==19.1.0
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2019.3.9
cffi==1.14.6
chardet==3.0.4
charset-normalizer==2.0.4
click==7.1.2
click-aliases==1.0.1
click-default-group==1.2.2
click-help-colors==0.9.1
colorama==0.4.4
commonmark==0.9.1
daemon==1.2
decorator==5.1.0
Eel==0.14.0
future==0.18.2
gevent==21.8.0
gevent-websocket==0.10.1
greenlet==1.1.1
idna==2.8
json5==0.9.6
more-itertools==6.0.0
more-termcolor==1.1.3
multidict==5.1.0
numpy==1.21.2
pandas==1.3.3
peewee==3.14.4
pluggy==0.9.0
proxy==0.0.1
py==1.8.0
pycparser==2.20
Pygments==2.10.0
pyparsing==2.4.7
python-dateutil==2.8.2
python-socks==1.2.4
pytz==2021.1
requests==2.26.0
rich==9.13.0
self==2020.12.3
six==1.12.0
SQLAlchemy==1.4.23
tabulate==0.8.9
task==0.2.5
typing-extensions==3.10.0.2
urllib3==1.24.1
vk-api==11.9.4
whichcraft==0.6.1
yarl==1.6.3
zope.event==4.5.0
zope.interface==5.4.0
